:root {
    /* Colors */
    --header-color-one: #151515;        /* White */
    --header-color-two: #FFFFFF;        /* Grey 900 */

    --p-first-color: #444;              /* Grey 700 */
    --p-second-color: #FFFFFF;          /* White */

    --button-font-color: #FFFFFF;       /* White */
    --button-bg-one: #151515;           /* Grey 900 */
    --button-bg-two: #D5966C;           /* Gold 500 */

    --index-main-bg-color: #FFFFFF;     /* White */
    --index-footer-bg-color: #151515;      /* Grey 900 */

    --location-h2-color: #D5966C;       /* Gold 500 */
    --location-main-bg-color: #151515;  /* Grey 900 */
    --location-footer-bg-color: #D5966C;   /* Gold 500 */

    /* Typography */
    --ff: "Big Shoulders", sans-serif;
    --fw: 300;          /* Light */
    --fs: 1.125rem;
    --lh: 140%;
    --p-ff: "outfit", sans-serif;

    --btn-fs: 1.25rem;
    --btn-ls: 0.2275rem;
    --btn-lh: 100%;
    --btn-fw: 800;      /* Extra Bold */

    --heading-lh: 90%;
    --heading-fw: 900;  /* Black */

    --index-h1-fs: 3.75rem;
    --index-h1-tablet-fs: 4.375rem;
    --index-h2-fs: 3.125rem;

    --location-h1-fs: 3.4375rem;
    --location-h2-fs: 2.25rem;
    --location-h2-lh: 100%;

    --h3-fs: 1.5rem;
}

/* #region Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

input, button, textarea, select {
    font: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* #endregion */

/* #region Global */
body {
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw);
    line-height: var(--lh);
}

body p {
    font-family: var(--p-ff); 
}

h1, h2, h3 {
    text-transform: uppercase;
    line-height: var(--heading-lh);
    font-weight: var(--heading-fw);
}

.btn{
    display: flex;
    align-items: center;
    width: 70%;

    text-decoration: none;
    color: var(--button-font-color);
    background-color: var(--button-bg-one);   
}

.btn--arrow{
    background-color: var(--button-bg-two);
    padding: 1.5rem;
}

.btn--text {
    flex: 1;
    text-align: center;
    font-size: var(--btn-fs);
    font-weight: var(--btn-fw);
    line-height: var(--btn-lh);
    letter-spacing: var(--btn-ls);
    text-transform: uppercase;
}

.social__links {
    display: flex;
    gap: 1.25rem;
}

ul {
    list-style: none;
    padding: 0;
}
/* #endregion */

/* #region Home Header */
.page-home header{
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
}

.page-home h1 {
    font-size: var(--index-h1-fs);
    color: var(--header-color-one);
    padding: 2rem 1rem;
}

.page-home header p{
    color: var(--p-first-color);
    padding: 0 1rem 2rem 1rem;
}

.page-home .btn {
    margin-left: 1rem;
}

/* #endregion */

/* #region Location Header */
.page-location header {
    position: relative;
}

header .loc-header__img {
    width: 100%;
}

.page-location .btn {
    position: absolute;
    top: .6rem;
    left: .6rem;
}
/* #endregion */

/* #region Home Main */
.page-home main {
    padding: 0 1rem 6rem 1rem;
}

.header--one {
    color: var(--header-color-one);
    padding:0;
}

.page-home h2{
    font-size: var(--index-h2-fs);
    padding: 1.5rem 0 1.5rem 0;
}

.page-home .header--one p{
    padding-bottom: 1.5rem;
}

.page-home main .break {
    display: block;
}

.grid-img-one{
    padding-bottom: 1.25rem;
}

.grid-img-two{
    padding-bottom: 1.25rem;
}

.header--two{
    background-color: var(--index-footer-bg-color);
    color: var(--header-color-two);
}

.header--two h2{
    padding: 3rem 1.5rem 1.5rem 1.5rem;
}

.header--two p{
    padding: 0 1.5rem 3rem 1.5rem;
}
/* #endregion */

/* #region Location Main */
.page-location main{
    background-color: var(--location-main-bg-color);
    color: var(--header-color-two);

    padding: 5rem 1rem 3.75rem 1rem;
}

.page-location main h1{
    font-size: var(--location-h1-fs);
    padding-bottom: 3rem;
}

.page-location main h2 {
    color: var(--location-h2-color);
    font-size: var(--location-h2-fs);
    line-height: var(--location-h2-lh);

    padding-bottom: 1.25rem;
}

.page-location main p {
    padding-bottom: 1.25rem;
}
/* #endregion */

/* #region Home Footer */
.page-home footer {
    background-color: var(--index-footer-bg-color);
    color: var(--index-main-bg-color);

    padding: 3rem 2.5rem;
}

.page-home footer svg {
    fill: var(--index-main-bg-color);
}
/* #endregion */

/* #region Location Footer */
.page-location footer {
    background-color: var(--location-footer-bg-color);
    padding: 3rem 1rem;
}

footer img {
    padding-bottom: 2.5rem;
}

footer p{
    padding-bottom: 2.5rem;
}

.page-location footer svg {
    fill: var(--button-bg-one);
}
/* #endregion */

/* #region Media Queries */
@media (min-width: 48rem) {
/* #region Global */
    .btn{
        display: flex;
        align-items: center;
        width: 18rem;
    }
/* #endregion */

/* #region Home Header */
    .page-home header{
        position: relative;
        padding-bottom: 7.5rem;
    }

    .home-header__img{
        width: 56%;
    }

    .page-home h1 {
        font-size: var(--index-h1-tablet-fs);
    }

    .tablet__header {       
        position: absolute;
        top: 9.5rem;
        right:  2.5rem;
        width: 24rem;
    }

/* #endregion */

/* #region Home Main */
    .page-home main {
        padding: 0 2.5rem 8rem 2.5rem;
    }

    .header--one {
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        padding-bottom: .75rem;
    }

    .header--one__text {
        flex: 1;
    }

    .page-home h2{
        font-size: var(--index-h2-fs);
        padding: 0 0 2rem 0;
    }

    .page-home .header--one p{
        padding-bottom: 0;
    }

    .page-home main .break {
        display: block;
    }

    .main-grid {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        gap: .75rem;

        width: 100%;
    }

    .grid-img-one,
    .grid-img-two {
        width: 100%;
        height: 100%;
    }

    .grid-img-one img,
    .grid-img-two img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .grid-img-one {
        grid-area: 1 / 1 / 3 / 2;
        padding: 0;
    }

    .grid-img-two {
        grid-area: 1 / 2 / 2 / 3;
        padding: 0;
    }

    .header--two{
        grid-area: 2 / 2 / 3 / 3;
    }

    .header--two h2{
        padding: 4.75rem 1.75rem 1.5rem 1.75rem;
    }

    .header--two p{
        padding: 0 1.75rem 4.75rem 1.75rem;
    }
/* #endregion */

/* #region Location Main */
    .page-location main{
        display: flex;
        padding: 5rem 2.5rem 3.75rem 2.5rem;
    }

    .page-location main h1{
        padding-right: 4.2rem;
    }
/* #endregion */

/* #region Location Footer */
    footer {
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        width: 100%;
        padding: 3rem 2.5rem;
    }

    footer img {
        padding-bottom: 0;
    }

    footer p{
        text-align: left;
        width: 18rem;
        padding: 0;
    }
/* #endregion */
}
@media (min-width: 64rem) {
/* #region Location Header */
    .page-location .btn {
        position: absolute;
        top: 1rem;
        left: 7rem;
    }
/* #endregion */

/* #region Location Main */
    .page-location main{
        display: flex;
        padding: 8rem 10rem;
    }

    .page-location main h1{
        flex: 1;
        padding: 0;
    }

    .break {
        display: block;
    }

    .page-location main div {
        flex: 1;
    }
/* #endregion */

/* #region Location Footer */
    footer {
        padding: 5rem 10rem;
    }

    footer img {
        padding-bottom: 0;
    }

    footer p{
        text-align: left;
        width: 21rem;
        padding: 0;
    }
/* #endregion */
} 
/* #endregion */